body {
  display: flex;
  flex-direction: column;
  background: rgb(245, 245, 245);
}

input {
  height: 18px;
  width: 825px;
  border: 0.5px solid black;
}

#score6 {
  height: 12px;
  width: 100px;
  background: green;
  border: 1.3px solid black;
}

#score7 {
  height: 12px;
  width: 100px;
  background: green;
  border: 1.3px solid black;
}

.buttons {
  margin: 3.8px;
  cursor: pointer;
}
